{%load static%}



<!DOCTYPE html>
<html lang="en">
<head>
    <title>Login</title>
 
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600&display=swap" rel="stylesheet">

    <style media="screen">
        @import url('{%static "css/login_signup.css"%}');
        
    </style>
</head>
<body>
    <div class="background">
        <div class="shape"></div>
        <div class="shape"></div>
    </div>
    
    <form method="post">

        {%if msg%}
        
            <div style="color:red; text-align:center;">{{msg}}</div>
            
        {%endif%}
        
        <h3>Login Here</h3>
        {%csrf_token%}
        <label for="username">Username</label>
        <input type="text" placeholder="Username" name="username">

        <label for="password">Password</label>
        <input type="password" placeholder="Password" name="password">

        <button type="submit">Log In</button>
        <br>
        <div><a href="/signup">SignUp</a> <a href="/">Not now</a></div>
        
        
    </form>
</body>
</html>
