{% extends "base.html"%}
{%block content%}
{%load static%}

<style>
      @import url('{%static "css/menu.css"%}');
      @import url('{%static "css/modal.css"%}');
      @import url('{%static "css/create.css"%}');

    .item {
    
        color:rgba(136, 165, 191, 0.48) 6px 2px 16px 0px, rgba(255, 255, 255, 0.8) -6px -2px 16px 0px;
        margin-right:10px;
    }

    img:hover {
        box-shadow: rgba(136, 165, 191, 0.48) 6px 2px 16px 0px, rgba(255, 255, 255, 0.8) -6px -2px 16px 0px;
   
    }

</style>







<a href="#modal" class="button">Create</a>
<a href="#modal-my-assets" class="button">My assets</a>



<div id="modal-my-assets" class="modal">
    <div class="modal__content">
        <h1>My assets</h1>
        <br>

        {%for i in items%}
        {%if i.user == user|safe%}
        <div class="item" style="margin-top:100%">
            <figure class="image is-128x128">
                <a href="{{i.url}}">
                <img src="{{i.pic_url}}"></a>
                <small>{{i.title}}</small>
                <br>
                <small>0$</small>
        </figure>
        </div>
        {%endif%}
        {%endfor%}

        
        <a href="#" class="modal__close">&times;</a>
    </div>
</div>

<div id="modal" class="modal">
    <div class="modal__content">
        <h1>Create</h1>
        <br>
        <form method="post">
            {%csrf_token%}
            {{form.as_p}}
            <button type="sumbit" class="button">Create</button>
        </form>

        <a href="#" class="modal__close">&times;</a>
    </div>
</div>

{%endblock%}